{% extends 'base.html' %}

{% load static %}
{% block custom_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home_style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
{% endblock custom_css %}

{% block content %}
<div class="container">
    <div class="row center justify-content-center">
        <div class="col-md-10 mx-auto p-1 shadow-sm border rounded border-primary">
            <p>Already have an account? <a href="{% url 'accounts:login' %}">Login Here</a></p>
            {% if messages %}
            <div class="messages">
                {% for message in messages %}
                <div {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
            </div>
            {% endif %}
            <form action="" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block custom_js %}
<script type="text/javascript" src="{% static 'js/scripts.js' %}"> </script>
{% endblock custom_js %}