

<nav class="navbar navbar-expand-sm navbar-light bg-light mb-5">
    <a class="navbar-brand" href="{% url 'home' %}"><i class="fas fa-person-booth"></i></a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active home-button">
                <a class="nav-link" href="{% url 'home' %}"><b>Home</b><span class="sr-only">(current)</span></a>
            </li>
            {% if request.user.is_authenticated %}
            <li class="nav-item polls">
                <a class="nav-link" href="{% url 'polls:list' %}"><b>Polls</b></a>
            </li>
            {% endif %}
        </ul>
        <div class="navbar-nav ml-auto">
            {% if request.user.is_authenticated %}
                {% if request.user.is_staff %}
                    <div class="my-polls">
                        <a class="nav-link" href="{% url 'polls:list_by_user' %}"><b>My Polls</b></a>
                    </div>
                {% endif %}
            <div class="welcome-message">
                <b>Welcome</b><br><span id="username"><b>{{ request.user.username }}</b></span>
            </div>
            <div class="logout-button">
                <a class="nav-link" href="{% url 'accounts:logout' %}"><b>Logout</b></a>
            </div>
            {% else %}
            <div class="login-button">
                <a class="nav-link" href="{% url 'accounts:login' %}"><b>Login</b></a>
            </div>
            <div class="dropdown">
                <div class="register-button">
                    <button onclick="toggleDropdown()" class="dropbtn"><b>Register</b></button>
                </div>
                <div id="myDropdown" class="dropdown-content">
                  <a href="{% url 'accounts:register' is_staff=True %}"><b>As Staff</b></a>
                  <a href="{% url 'accounts:register' is_staff=False %}"><b>As User</b></a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</nav>
