{% extends 'base.html' %}
{% load static %}


{% block content %}

<div class="container">
    <div class="row">
        <!-- <div class="col"> -->
            <div id="home-content-premium">
                <h1>Create Polls</h1>
                <h5>Free for a month</h5>
                <h6>Know more about Premium</h6>
                <hr>
                <a class="btn btn-light btn-lg" href="{% url 'polls:list' %}" role="button">Get Started !</a>
            </div>
            <div id="home-content-regular">
                <h1>PollMe</h1>
                <h5>Your Voice Matters!</h5>
                <hr>
                <a class="btn btn-light btn-lg" href="{% url 'polls:list' %}" role="button">Get Started !</a>
            </div>
        <!-- </div> -->
    </div>
</div>

{% endblock content %}
